## EnergyMonitoringSystem

### Importing the Libraries

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

### Importing the dataset

names = ['Voltage','Current','Power','Class']
dataset = pd.read_csv("Energy Meter.csv",names =names)
dataset.head()

### Independent and dependent variables

In [11]:
x = dataset.iloc[:,:3]
y = dataset.iloc[:,3]
x.head()

   Voltage  Current  Power
0      0.0      0.0    0.0
1      0.0      0.0    0.0
2      0.0      0.0    0.0
3      0.0      0.0    0.0
4      0.0      0.0    0.0

In [12]:
y.head()

0    NoLoad
1    NoLoad
2    NoLoad
3    NoLoad
4    NoLoad
Name: Class, dtype: object

### Training and testing data

In [25]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.5,random_state=1)

In [26]:
x_train.head()

      Voltage   Current       Power
365  212.7315  0.847530  180.296328
99     0.0000  0.000000    0.000000
348  214.6480  0.844391  181.246839
329  217.3311  0.841252  182.830223
320  216.1812  0.841252  181.862867

In [27]:
print("x_train shape =",x_train.shape)
print("x_test shape =",x_test.shape)
print("y_train shape =",y_train.shape)
print("y_test shape =",y_test.shape)

x_train shape = (200, 3)
x_test shape = (200, 3)
y_train shape = (200,)
y_test shape = (200,)

### Fitting Model

In [28]:
model = SVC(gamma = 'auto')
model.fit(x_train,y_train)

SVC(gamma='auto')

In [29]:
result = model.score(x_test,y_test)
print("result = ",result)

result =  0.985

### Prediction For new Values

In [31]:
value = [[212.45,0.8634,180.21443]]
prediction = model.predict(value)
print(prediction)

['Risk']